/* DHTML Color Picker v1.0.3, Programming by Ulyses, ColorJack.com */
/* Updated August 24th, 2007 */
/* Heavily Hacked by Joe, 2008-02-10 */

#everything { WIDTH: 770px; MARGIN: 0 auto; TEXT-ALIGN: left; PADDING-BOTTOM: 25px; }

#colorspy { border: 2px solid #EEEEEE; padding: 7px 0 20px 20px; margin: 0 0 7px 0; font-size: 16px; text-align: left; COLOR: #555; background: #fbfbfb; }
#colorspy a { COLOR: #e04f92; }
#colorspy legend { font-size: 17px; color: #bbb; padding: 0; }

.botLine { BORDER-TOP: 1px solid #EEE; WIDTH: 370px; MARGIN-TOP: 9px; PADDING-TOP: 9px; COLOR: #999; }
.botLine a { COLOR: #e04f92; }
.botLine a:hover { COLOR: #F360BB; }

/* PLUGIN */

#plugin { BACKGROUND: #0d0d0d; COLOR: #AAA; DISPLAY: block; FONT-FAMILY: arial; FONT-SIZE: 11px; PADDING: 0px 7px 7px 10px; _PADDING-RIGHT: 0; Z-INDEX: 1; POSITION: relative; WIDTH: 199px; _width: 210px; _padding-right: 0px; }
#plugin br { CLEAR: both; MARGIN: 0; PADDING: 0;  }
#plugin select { BORDER: 1px solid #333; BACKGROUND: #FFF; POSITION: relative; TOP: 4px; }

#plugHEX { FLOAT: left; position: relative; top: -1px; }
#plugCLOSE { FLOAT: right; cursor: pointer; MARGIN: 0 8px 3px; _MARGIN-RIGHT: 10px; COLOR: #FFF; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#plugHEX:hover,#plugCLOSE:hover { COLOR: #FFD000;  }

#plugCUR { float: left; width: 10px; height: 10px; font-size: 1px; background: #FFF; margin-right: 3px; }

#SV { background: #FF0000 url('images/color_picker/SatVal.png'); _BACKGROUND: #FF0000; POSITION: relative; CURSOR: crosshair; FLOAT: left; HEIGHT: 166px; WIDTH: 167px; _WIDTH: 166px; MARGIN-RIGHT: 10px; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/color_picker/SatVal.png', sizingMethod='scale'); -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#SVslide { BACKGROUND: url('images/color_picker/slide.gif'); HEIGHT: 9px; WIDTH: 9px; POSITION: absolute; _font-size: 1px; line-height: 1px; }

#H { BORDER: 1px solid #000; CURSOR: crosshair; FLOAT: left; HEIGHT: 154px; POSITION: relative; WIDTH: 19px; PADDING: 0; TOP: 4px; -moz-user-select: none; -khtml-user-select: none; user-select: none; }
#Hslide { BACKGROUND: url('images/color_picker/slideHue.gif'); HEIGHT: 5px; WIDTH: 33px; POSITION: absolute; _font-size: 1px; line-height: 1px; }
#Hmodel { POSITION: relative; TOP: -5px; }
#Hmodel div { HEIGHT: 1px; WIDTH: 19px; font-size: 1px; line-height: 1px; MARGIN: 0; PADDING: 0; }

/* Effect Additions */

div.plugEFFECT form { margin:0; padding:0; }
div.plugEFFECT form p { 
	font-family: 'Lucida Grande', arial, sans-serif;
	font-size: 11px;
	color: #cfcfcf;
}
.plugEFFECThexfield {
	font-family: 'Lucida Grande', arial, sans-serif;
	font-size: 11px;
	color: #000;
}

div.recent_color {
	float: left;
	width: 20px;
	height: 20px;
	border: 1px solid #ccc;
	margin-right: 9px;
	margin-bottom: 9px;
	cursor: pointer;
}
